.note-commands {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--markdown-background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px 0 var(--font-color);
}

.note-commands > button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
}

.delete-modal-actions {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.delete-modal-actions > .yes {
  background-color: red;
}

.delete-modal-actions > .no {
  background-color: var(--primary);
}
