.note-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.note-commands {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--markdown-background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px 0 var(--font-color);
}

.note-commands > button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
}

.markdown-view {
  flex: 1;
}

.markdown-input {
  flex: 1;
  max-width: 720px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--markdown-background);
  /* Unset textarea default attributes */
  border: none;
  outline: none;
  resize: none;
}