.note-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.markdown-view {
  flex: 1;
}

.markdown-input {
  flex: 1;
  max-width: 720px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--markdown-background);
  /* Unset textarea default attributes */
  border: none;
  outline: none;
  resize: none;
}